body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
img {
    width: 270px;
    margin-bottom: 20px;
}
input {
    width: 450px;
    padding: 12px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    font-size: 16px;
    outline: none;
}
.buttons {
    margin-top: 20px;
}
button {
    background: #f8f9fa;
    border: 1px solid #f8f9fa;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
}
